* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background: #0D1323;
    --personal-bg: #5746EA;
    --dark-violet: #1D204B;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 13rem);
    grid-template-rows: repeat(2, 15rem);
    margin-left: 1rem;
}

.work-background , .play-background , .study-background , .exercise-background , .social-background , .selfcare-background {
    color: white;
    border-radius: 20px;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightcoral;
}

.play-background {
    background-color: lightcyan;
}

.study-background {
    background-color: lightgreen;
}

.exercise-background {
    background-color: lightskyblue;
}

.social-background {
    background-color: lightsalmon;
}

.selfcare-background {
    background-color: lightyellow;
}

.work , .play , .exercise , .social, .selfcare , .study{
    width: 95%;
    height: 100%;
    margin-top: 2rem;
    background-color: #0D1323;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    font-size: small;
}

.title1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title1 h1{
    font-size: 1rem;
    font-weight: 500;
}

.title1 button{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    letter-spacing: 0.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.title1 button:hover {
    opacity: 0.6;
}

.hours {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.work-hours , 
.play-hours, 
.study-hours , 
.exercise-hours, 
.social-hours, 
.selfcare-hours{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    width: 3.5rem;
    font-size: 3rem;
}

.work-hours-p ,
.play-hours-p , 
.study-hours-p , 
.exercise-hours-p ,
.social-hours-p ,
.selfcare-hours-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-hours-span ,
.play-hours-span , 
.study-hours-span , 
.exercise-hours-span ,
.social-hours-span ,
.selfcare-hours-span {
    font-size: 2rem;
}

.work-hours-cantidad ,
.amount-of-work-hours , 
.play-hours-cantidad , 
.amount-of-play-hours ,
.study-hours-cantidad ,
.amount-of-study-hours , 
.exercise-hours-cantidad , 
.amount-of-exercise-hours , 
.social-hours-cantidad , 
.amount-of-social-hours , 
.selfcare-hours-cantidad , 
.amount-of-selfcare-hours{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.6rem;
    color: rgb(146, 143, 143);
}

.amount-of-work-hours , 
.amount-of-play-hours , 
.amount-of-study-hours , 
.amount-of-exercise-hours , 
.amount-of-social-hours , 
.amount-of-selfcare-hours{
    width: 0.7rem;
}

/* LADO PERFIL PERSONAL */

.container .personal-profile-and-options {
    background-color: var(--dark-violet);
    border-radius: 20px;
    display: grid;
    grid-row-start: span 2;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
}

.container .personal-profile-and-options .person-profile {
    background-color: var(--personal-bg);
    width: 100%;
    border-radius: 20px;
    height: 20rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2.5rem;
}

.container .personal-profile-and-options .person-profile img {
    width: 5rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.container .personal-profile-and-options .person-profile input {
    font-weight: 300;
    color: rgb(235, 230, 230);
    font-size: x-small;
    font-family: 'Poppins', sans-serif;
    margin-top: 4rem;
    margin-bottom: 0.1rem;
}

.container .personal-profile-and-options .person-profile h1 {
    color: white;
    font-size: 150%;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}

.personal-profile-and-options .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    list-style: none;
}

.personal-profile-and-options .buttons button {
    cursor: pointer;
    margin: 0.3rem;
    border: none;
    background-color: transparent;
    color: white;
}

.personal-profile-and-options .buttons button:hover {
    color: white;
    opacity: 0.6;
}

@media (max-width: 830px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 0.5rem;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .activities {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .work-background , 
    .play-background{
        margin-bottom: 4rem;
    }
    
    .study-background , 
    .exercise-background{
        margin-bottom: 2rem;
    }

    .title1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .title1 h1 {
        margin-right: 8rem;
    }

    .hours {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .container .personal-profile-and-options {
        width: 40rem;
        height: 16rem;
        margin-bottom: 3.5rem;
        padding-bottom: 2rem;
    }

    .container .personal-profile-and-options .person-profile {
        width: 100%;
        height: 10rem;
        width: 37rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    
    .personal-profile-and-options .buttons {
        flex-direction: row;
        padding: 1rem;
    }

    .container .personal-profile-and-options .person-profile img {
        width: 6rem;
        border: 2px solid white;
        border-radius: 80%;
        margin-top: 1.5rem;
    }

    .container .personal-profile-and-options .person-profile input {
        margin: 0;
        margin-left: 1rem;
        display: block;
    }

    .container .personal-profile-and-options .person-profile h1 {
        display: block;
        font-size: xx-large;
        font-weight: 500;
    }

    .personal-profile-and-options .person-profile div {
        width: 100%;
        height: 7rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: colum;
        margin-left: 2rem;
    }
}

@media (max-width: 450px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        margin-left: 1rem;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7rem;
    }

    .activities {
        grid-template-columns: 1fr;
        margin-right: 0.5rem;
    }

    .container .personal-profile-and-options {
        width: 91%;
    }

    .container .personal-profile-and-options .person-profile {
        width: 100%;
    }

    .personal-profile-and-options .buttons {
        margin: 0;
        padding: 0;
    }

    .work-background{
        margin-bottom: 6rem;
    }

    .social-background {
        margin-bottom: 1rem;
    }
}